--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch
torchvision
torchaudio

gradio
openai
opencv-python
Pillow
openai-whisper
SpeechRecognition
sounddevice
soundfile
pydub
numpy
requests
python-dotenv
PyAudio